.date__label {
  padding-right: 40px;

  color: #1157a7;
  background-image: url('../images/calendar.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 100% 40%;

  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0.6px;

  cursor: pointer;
}
