.slider__item {
  width: 164px;
  height: 149px;
  margin-right: 12px;
  flex-shrink: 0;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &:nth-child(4)::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    display: block;
    width: 10px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 255) 84%);
  }
}
